<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar top-nav-collapse" [containerInside]="false">
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light">
          <a class="nav-link" href="https://www.facebook.com/squiggie" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item waves-light">
          <a class="nav-link" href="https://twitter.com/squigge" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>

  <!-- Header -->
  <div class="view intro hm-gray">
    <div class="full-bg-img flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <h1>Landen Melton</h1>
        <div class="separator-container">
          <div class="separator line-separator">✻</div>
        </div>
        <p>Mobile and Web Developer</p>
      </div>
    </div>
  </div>
  <!-- /.Header -->
</header>
<!--Main Navigation-->

<!--Projects Layout-->
<main class="text-center py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <p align="justify" *ngFor="let desc of description">
          {{desc}}
        </p>
      </div>
    </div>
  </div>

  <div class="projects py-5 stylish-color-dark">
    <div class="container">
      <h1 class="white-text">Projects</h1>
      <div class="separator-container">
        <div class="separator line-separator">✻</div>
      </div>
      <p class="white-text mb-4">Below is a list of my latest projects. Please take a look for a good example of what I can provide.</p>

      <div class="wow fadeInLeft row">
        <div class="col p-2" *ngFor="let p of projects">
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view hm-zoom">
              <img class="img-fluid mw-300 mx-auto p-2" style="max-width: 300px;" src="{{p.img}}" alt="{{p.title}}">
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">{{p.title}}</h4>
              <!--Text-->
              <p class="card-text">{{p.description}}</p>
              <a href="#" class="btn btn-primary" href="{{p.link}}" target="_blank">View Project</a>
            </div>

          </div>
          <!--/.Card-->
        </div>
      </div>
    </div>
  </div>

  <!-- Book Me Now -->
  <div class="view hm-black-strong">
    <img src="assets/bookme-min.jpg" class="img-fluid" alt="">
    <div class="mask flex-center">
      <div class="container text-center white-text wow animated fadeInDown">
        <h1 class="wow animated fadeInRight">Book Me</h1>
        <div class="separator-container">
          <div class="separator line-separator">✻</div>
        </div>
        <p class="wow animated fadeInLeft">Are you interested in hiring me to work on your next web or mobile project?
          <br> I'd love to talk with you about your requirements to see how I could help you out. </p>
      </div>
    </div>
  </div>
  <!-- /.Book Me Now -->

  <div class="projects py-5 special-color">
    <div class="container">
      <h1 class="white-text">Contact Me</h1>
      <div class="separator-container">
        <div class="separator line-separator">✻</div>
      </div>
      <h4 class="white-text mb-4">Contact me about your next project</h4>
      <!--Contact Form-->
      <form action="https://formspree.io/squigge@gmail.com" method="POST">
        <div class="md-form white-text">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" name="Name" id="form3" class="form-control white-text" mdbActive>
          <label for="form3">Your name</label>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" name="Email" id="form2" class="form-control white-text" mdbActive>
          <label for="form2">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-tag prefix grey-text"></i>
          <input type="text" name="Subject" id="form32" class="form-control white-text" mdbActive>
          <label for="form34">Subject</label>
        </div>

        <div class="md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea type="text" name="Message" id="form8" class="md-textarea white-text" style="height: 100px" mdbActive></textarea>
          <label for="form8">Your message</label>
        </div>

        <div class="text-center">
          <button class="btn btn-primary waves-light" mdbRippleRadius>Send
            <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
        </div>

      </form>
      <!--Contact Form-->
    </div>
  </div>
</main>
<!--Main Layout-->